@model Scribble.Web.ViewModels.PostViewModel

@using (Html.BeginForm("Single", "Post"))
{
    <fieldset>
        <legend>Add Text</legend>

        <div>
            @Html.LabelFor(m => m.CommenterName)
        </div>
        <div>
            @Html.EditorFor(m => m.CommenterName)
            @Html.ValidationMessageFor(m => m.CommenterName)
        </div>

        <div>
            @Html.LabelFor(m => m.CommenterEmail)
        </div>
        <div>
            @Html.EditorFor(m => m.CommenterEmail)
            @Html.ValidationMessageFor(m => m.CommenterEmail)
        </div>
        
        <div>
            @Html.LabelFor(m => m.CommenterWebsite)
        </div>
        <div>
            @Html.EditorFor(m => m.CommenterWebsite)
            @Html.ValidationMessageFor(m => m.CommenterWebsite)
        </div>
        
        <div>
            @Html.LabelFor(m => m.Comment)
        </div>
        <div>
            @Html.EditorFor(m => m.Comment)
            @Html.ValidationMessageFor(m => m.Comment)
        </div>

        <p>
            <input type="submit" value="Create" />
        </p>
    </fieldset>
}