@using Scribble.Web.Helpers
@model Scribble.Web.ViewModels.PostViewModel

@{
    Layout = null;
    var post = Model.Post;
}

<!DOCTYPE html>

<html>
<head>
    <title>@post.Title</title>
</head>
<body>
    <h1>@post.Title</h1>

    @Html.Raw(post.Body)

    <h2>Tags</h2>

    <ul>
        @foreach (var tag in post.Tags)
        {
            <li>@Html.ActionLink(tag.Name, "ByTag", new { tag.UrlName })</li>
        }
    </ul>

    <h2>Category</h2>

    <p>@Html.ActionLink(post.Category.Name, "ByCategory", new { post.Category.UrlName })</p>

    <h2>Comments</h2>

    @foreach (var comment in post.Comments)
    {
        <div>
            <h3>
                @using (Html.WrapWithLink(comment.Website))
                {
                    @comment.Name
                }
            </h3>
            <p>@comment.Body</p>
        </div>
    }
    
    @Html.Partial("AddComment", Model)
</body>
</html>
