@using Scribble.Web.Helpers
@model Scribble.Web.ViewModels.PostViewModel

    <h1>@Model.Title</h1>

    @Html.Raw(Model.Body)

    <h2>Tags</h2>

    <ul>
        @foreach (var tag in Model.Tags)
        {
            <li>@Html.ActionLink(tag.Name, "ByTag", new { tag.UrlName })</li>
        }
    </ul>

    <h2>Category</h2>

    <p>@Html.ActionLink(Model.Category.Name, "ByCategory", new { Model.Category.UrlName })</p>

    <h2>Comments</h2>

    @foreach (var comment in Model.Comments)
    {
        <div>
            <h3>
                @using (Html.WrapWithLink(comment.Website))
                {
                    @comment.Name
                }
            </h3>
            <p>@comment.Text</p>
        </div>
    }
    
@Html.Partial("AddComment", Model)
