@using Scribble.Web.Helpers
@model Scribble.Web.Models.Post

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@Model.Title</title>
</head>
<body>
    <h1>@Model.Title</h1>

    @Html.Raw(Model.Body)

    <h2>Tags</h2>

    <ul>
        @foreach (var tag in Model.Tags)
        {
            <li>@tag.Name</li>
        }
    </ul>

    <h2>Category</h2>

    <p>@Model.Category.Name</p>

    <h2>Comments</h2>

    @foreach (var comment in Model.Comments)
    {
        <div>
            <h3>
                @using (Html.WrapWithLink(comment.Website))
                {
                    @comment.Name
                }
            </h3>
            <p>@comment.Body</p>
        </div>
    }
</body>
</html>
